#alert {
  background: #9292e3;
  color: black;
  padding: 20px;
  border-radius: 5px;
  display: none; /* 알림창 숨겨놓는 방법 */
  /* display: block; */ /* 알림창 보이게 */
}

.list-group {
  display: none; /* 안보이게 */
}

.show {
  display: block; /* 보이게 */
}

/* 모달창 시작스타일 - 배경:투명검정, 투명도0  */
.black-bg {
  width : 100%;
  height : 100%;
  position : fixed; /* 이러면 맨 앞에 위치함 */
  background : rgba(0,0,0,0.5);
  z-index : 5; /* 이러면 맨 앞에 위치함 */
  padding : 30px;
  /* display : none; */
  visibility: hidden; /* 애니메이션줄 때는 이거 사용 */
  opacity: 0;
  transition: all 1s; /* 모든 css요소가 변할때 1초에 걸쳐서 변경되게 해주세요 */
}

.white-bg {
  width : 400px;
  height : 300px;
  background-color: white;
  padding : 30px;
}

/* 모달창 최종스타일 - 투명도1  */
.show-modal {
  /* display: block; */
  visibility: visible;
  opacity: 1;
}

.main-bg {
  padding : 100px 20px;
  background : lightgrey; 
}